<a class='card' [routerLink]="[item.id]" [queryParamsHandling]="'preserve'">
    <div class='header'>
        <div [class]='"name " + item.resolved?.facility_kind' >{{ item.resolved.name }}</div>
        @if (!!item.resolved?.symbol_text) {
            <div class='symbol'>סמל:<br/>{{ item.resolved.symbol_text }}</div>
        } @else {
            <div class='symbol'>פרטי</div>
        }
    </div>
    <div class='address'>
        <span class='label'>כתובת: </span>
        <span class='value'>{{ item.resolved.address }}</span>
    </div>
    <div class='phone'>
        <span class='label'>טלפון: </span>
        <span class='value'>
            @if (item.resolved.phone) {
                <span>{{ item.resolved.phone }}</span>
            } @else {
                <span>לא זמין</span>
            }
        </span>
    </div>
    <div class='status'>
        @if (item.admin.app_publication === false) {
            <span class='hidden'>מוסתר</span>
        } @else {
            <span class='visible'>מוצג</span>
        }
        @if (item.admin && item.admin.updated_at) {
            <span class='admin-input'>מידע רשותי עודכן</span>
        }
        @if (item.user && item.user.updated_at) {
            <span class='user-input'>מידע בעלים עודכן</span>
        }
    </div>
</a>