<div class='search' [class.expanded]='state.filtersExpanded()'>
    <div class='filter-icon' (click)='state.filtersExpanded.set(true)'>
        @if (state.filterCount() > 0) {
            <span class='count'>{{state.filterCount()}}</span>
        }
    </div>
    <div class='input-container'>
        <input type='text' placeholder='חיפוש לפי כתובת או שם...' [(ngModel)]='state.searchTerm' #input/>
        <div class='clear' (click)='state.searchTerm.set("")'>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 6.586L10.95 3.636L12.364 5.05L9.414 8L12.364 10.95L10.95 12.364L8 9.414L5.05 12.364L3.636 10.95L6.586 8L3.636 5.05L5.05 3.636L8 6.586Z" fill="#053856"/>
            </svg>
        </div>
    </div>
</div>
@let education = state.section() === 'education';
@let health = state.section() === 'health';
@let community = state.section() === 'community';
<div class='filters-tab' [class.expanded]='state.filtersExpanded()'>
    <div class='filters'>
        <div class='filter-row'>
            @if (health) {
                <div class='filter-selector' [class.active]='state.filterHealthSubkind() !== null' (click)='state.filterOptions.set("health_subkind")'>
                    סוג המענה
                </div>
            }
            @if (community) {
                <div class='filter-selector' [class.active]='state.filterCommunitySubkind() !== null' (click)='state.filterOptions.set("community_subkind")'>
                    סוג המענה
                </div>
            }
            <div class='filter-selector' [class.active]='state.filterAgeGroup() !== null' (click)='state.filterOptions.set("age_group")'>
                גיל
            </div>
            @if (education) {
                <div class='filter-selector' [class.active]='state.filterLicensing() !== null' (click)='state.filterOptions.set("licensing")'>
                    רישוי
                </div>
                <div class='filter-selector' [class.active]='state.filterSubsidy() !== null' (click)='state.filterOptions.set("subsidy")'>
                    סבסוד
                </div>
                <div class='filter-selector' [class.active]='state.filterMentoring() !== null' (click)='state.filterOptions.set("mentoring")'>
                    הדרכה
                </div>
            }
        </div>
    </div>
    <div class='closer' (click)='state.filtersExpanded.set(false)'>
        <div class='button'>
            <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.17188 6.85156L5 3.02344L8.82812 6.85156L10 5.67969L5 0.679688L0 5.67969L1.17188 6.85156Z" fill="#053856"/>
            </svg>
        </div>
    </div>
</div>
@let searchResults = state.searchResults();
@if (searchResults !== null) {   
    <div class='results'>
        @for (r of searchResults; track r.id) {
            <div class='result'>
                @if (r.kind === 'item') {
                    <a class='item' (click)='itemSelect(r)'>{{ r.name }}</a>
                } @else if (r.kind === 'street') {
                    <a class='street' (click)='autocompleteSelect(r)'>{{ r.name }}</a>
                }
            </div>
        }
        @if (searchResults.length === 0) {
            <div class='no-results'>לא נמצאו תוצאות</div>
        }
    </div>
}