<div class='container'>
    <div class='menu-button' (click)='active = true'></div>
    <h1>ממשק ניהול - <strong>{{api.cityName()}}</strong></h1>
    <a class='logo' href='/' target='_blank'>
        <span>מפת הטף</span>
    </a>
    <div class='sep'></div>
    <a class='pkw' href='https://www.hasadna.org.il' target='_blank'>
    </a>
</div>
<div class='menu' [class.active]='active' (click)='active=false; true'>
    <a href='#link'>מדריך שימוש</a>
    <a href='#link'>תמיכה טכנית</a>
    <div class='close'></div>
</div>
