@import '../../../common.less';

:host {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 24px;

    .title {
        font-size: 28px;
        font-weight: 700;
        color: @color-night;
        text-align: center;
    }

    .search {
        position: relative;
        width: 100%;
        max-width: 320px;

        input {
            .font-sans;
            box-sizing: border-box;
            width: 100%;
            padding: 10px 16px;
            border: none;
            border-radius: 24px;
            background-color: @color-white;
            box-shadow: 0px 2px 8px rgba(5, 56, 86, 0.15);
            color: @color-night;
            font-size: 16px;
            text-align: right;

            &::placeholder {
                color: @color-gray-3;
            }
            &:focus {
                outline: 1px solid @color-night;
            }
        }

        .results {
            position: absolute;
            top: calc(100% ~'+' 4px);
            right: 0;
            left: 0;
            z-index: 1;
            display: flex;
            flex-flow: column nowrap;
            padding: 8px 0;
            border-radius: 16px;
            background-color: @color-white;
            box-shadow: 0px 2px 8px rgba(5, 56, 86, 0.15);
            overflow: hidden;

            .result {
                padding: 6px 16px;
                color: @color-night;
                font-size: 16px;
                cursor: pointer;

                &:hover {
                    background-color: @color-gray-1;
                }
            }
        }
    }

    .confirm {
        .font-sans;
        min-width: 140px;
        padding: 10px 24px;
        border: none;
        border-radius: 24px;
        background-color: @color-night;
        color: @color-white;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }

    .skip {
        color: @color-night;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
    }
}
