<app-header [kindSelection]='false'></app-header>
<div class='content'>
    @switch (section()) {
        @case ("how-to-choose") {
            <app-markdown src='choosing-an-educational-framework'></app-markdown>
        }
        @case ("custom") {
            <app-markdown [src]='href()'></app-markdown>
        }
        @case ("about") {
            <app-markdown src='about'></app-markdown>
        }
        @case ("terms-of-use") {
            <app-markdown src='terms-of-use'></app-markdown>
        }
        @case ("accessibility") {
            <app-markdown src='accessibility'></app-markdown>
        }
        @default {
            <div class='not-found'>Page not found</div>
        }
    }
</div>
<div class='close' (click)='goBack()'>&times;</div>


