@if (api.mode() === 'admin') {
    <div class='filters'>
        <div class='filter'>
            <label>לפי סוג מענה</label>
            <select [(ngModel)]='state.facilityKind'>
                <option value='all'>הכל</option>
                <option value='education'>חינוך</option>
                <option value='health'>בריאות והתפתחות</option>
                <option value='community'>פנאי וקהילה</option>
            </select>
        </div>
        <div class='filter'>
            <label>לפי סוג מקור מידע</label>
            <select [(ngModel)]='state.itemSource'>
                <option value='all'>הכל</option>
                <option value='official'>ארצי</option>
                <option value='unofficial'>רשותי</option>
            </select>
        </div>
        <div class='filter'>
            <label>לפי מוצג/מוסתר</label>
            <select [(ngModel)]='state.appPublication'>
                <option value='all'>הכל</option>
                <option value='published'>מוצגים</option>
                <option value='hidden'>מוסתרים</option>
                <option value='recycled'>סל המחזור</option>
            </select>
        </div>
        <div class='filter'>
            <label>לפי עדכון של הרשות</label>
            <select [(ngModel)]='state.adminUpdated'>
                <option value='all'>הכל</option>
                <option value='updated'>עודכנו</option>
                <option value='not-updated'>לא עודכנו</option>
            </select>
        </div>
        <div class='filter'>
            <label>לפי עדכון בעלים</label>
            <select [(ngModel)]='state.userUpdated'>
                <option value='all'>הכל</option>
                <option value='updated'>עודכנו</option>
                <option value='not-updated'>לא עודכנו</option>
            </select>
        </div>
        @if (state.facilityKind() === 'education') {
            <div class='filter'>
                <label>לפי סטטוס רישוי</label>
                <select [(ngModel)]='state.licensingStatus'>
                    <option value='all'>הכל</option>
                    <option value='valid'>רישיון בתוקף</option>
                    <option value='in_progress'>בתהליך רישוי</option>
                    <option value='did_not_apply'>לא הוגשה בקשה לרישוי</option>
                    <option value='not_needed'>מתחת ל-7 ילדים ואינו דורש רישוי</option>
                    <option value='none'>לא ידוע</option>
                </select>
            </div>
            <div class='filter'>
                <label>לפי הדרכה</label>
                <select [(ngModel)]='state.mentoringType'>
                    <option value='all'>הכל</option>
                    <option value='municipal'>עירונית</option>
                    <option value='private'>פרטית</option>
                    <option value='not-mentored'>לא מודרך/לא ידוע</option>
                </select>
            </div>
        }
    </div>
    <div class="items">
        <div class='top-line'>
            <div class='total'>
                <span>מוצגים</span>&nbsp;
                <strong>{{ filteredItems().length }}</strong>&nbsp;
                <span>פריטים מתוך</span>&nbsp;
                <strong>{{ api.items().length }}</strong>&nbsp;
                <span>סה"כ</span>
            </div>
            <div class='actions'>
                <div class='add-new' (click)='addNew()'>הוספת פריט חדש</div>
            </div>
        </div>

        @for (item of filteredItems(); track item.id) {
            <app-item-list-item [item]='item'></app-item-list-item>
        }
    </div>
} @else {
    <div class='items'>אין לכם הרשאות לצפות בעמוד זה</div>
}
