<div class='content'>
    @if (showMap) { <app-map></app-map> }
    <app-search-bar></app-search-bar>
    @if (api.workspace().logo_url) {
        <div class='logo'><img [src]='api.workspace().logo_url' /></div>
    }
    <app-results-drawer></app-results-drawer>
    <app-item-sheet [class.open]='state.selectedId()'></app-item-sheet>
</div>
<app-menu></app-menu>
@if (state.filterOptions() !== null) {
    <app-filter-sheet></app-filter-sheet>
}
@if (onboarding.visible()) {
    <app-onboarding></app-onboarding>
}
