<div class='section'>
    @if (!inner) {
        <h3 class='header'>{{ header }}</h3>
    } @else {
        <h4 class='header'>{{ header }}</h4>
    }
    @if (fields().length > 0) {
        @for (field of fields(); track field.name) {
            @if (field.type === 'section') {
                <strong>{{ field.name }}</strong>
            } @else {
                <app-item-edit-field [data]='data' [field]='field' [editable]='editable' (update)='update.next($event)'></app-item-edit-field>
            }
        }
    }
    <ng-content></ng-content>
</div>