@import '../../common.less';

:host {
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    .desktop({
        gap: 64px;
    });
    .mobile({
        gap: 24px;
        padding: 0 16px;
    });


    background: @color-night;

    .container {
        max-width: @mobile-threshold;
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;

        .links {
            flex: 0 1 auto;
            width: fit-content;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-start;
            gap: 8px 64px;
            a {
                .font-noto;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: @color-white;
                white-space: nowrap;
            }
        }
        
        .logo {
            flex: 0 0 auto;
            width: 100px;
            height: 50px;
            .background-image;
            background-image: url(../../assets/img/logo-header.svg);
            .mobile({
                margin-right: auto;
            })
        }
    
        .pkw {
            flex: 0 0 auto;
            width: 187px;
            height: 32px;
            .background-image;
            background-image: url(../../assets/img/logo-hasadna.svg);
        }
    
        .menu-button {
            flex: 0 0 auto;
            width: 24px;
            height: 24px;
            .background-image;
            background-image: url(../../assets/img/icon-menu.svg);
        }
    }

    .menu {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        transform: translateY(-120%);
        transition: transform 0.3s ease-in-out;
        &.active {
            transform: translateY(0);
        }
        background-color: white;
        padding: 64px;
        display: flex;
        flex-flow: column;
        gap: 32px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     
        a {
            .font-noto;
            font-weight: 400;
            font-size: 24px;
            line-height: 100%;
            color: @color-night;
            white-space: nowrap;
            width: 100%;
        }

        .close {
            position: absolute;
            top: 16px;
            right: 16px;
            width: 24px;
            height: 24px;
            .background-image;
            background-image: url(../../assets/img/icon-close.svg);
        }
    }
}