<app-header></app-header>
<div class='title-slide'>
    <div class='top'>
        <div class='title'>
            <div class='main-logo layout-desktop'></div>
            <div class='title-text'>
                <h1>מפת הטף</h1>
                <h2>מפת מענים רשותית לגילאי לידה עד שלוש</h2>    
            </div>
            <div class='topics'>
                <div class='topic health'>
                    <span>בריאות<br/>והתפתחות</span>
                </div>
                <div class='topic education'>
                    <span>מסגרות<br/>חינוך</span>
                </div>
                <div class='topic afternoon-activity'>
                    <span>פנאי<br/>וקהילה</span>
                </div>
            </div>
            <a class='cta btn' href='#join-us'>דברו איתנו</a>
        </div>    
    </div>
    <div class='bottom'>
        <h3>השותפים שלנו</h3>
        <div class='logos'>            
            <div class='logo digital'>
            </div>
            <div class='logo rehovot'>
            </div>
            <div class='logo hanadiv'>
            </div>
        </div>
    </div>
</div>
<div class='details-slide'>
    <div class='top-bg layout-desktop'></div>
    <div class='bottom-bg layout-desktop'></div>
    <div class='details'>
        <div class='details-para-l'>
            <h2>הרפורמה בגיל הרך</h2>
            <p>מטילה אחריות על הרשות המקומית למיפוי מסגרות חינוך ומענים נוספים במטרה ליישם מדיניות גיל רך ולקדם פעולות פיקוח והדרכה</p>    
        </div>
        <div class='details-para-s challenge'>
            <h2>האתגר</h2>
            <p>איסוף, סידור והנגשת המידע. 
                קשה לאסוף את המידע מכיוון שהוא נאסף ומגיע ממקורות רבים ברשת ומחוצה לה. המידע נאסף בצורה ידנית המקשה על תהליך העדכון והוא אינו מוצג באופן שיקדם עבודה מבוססת נתונים.</p>
        </div>
        <div class='details-para-s solution'>
            <h2>הפיתרון</h2>
            <p>במפת הטף אנו אוספים עבורכם את המידע ממשרדי הממשלה, מאפשרים הוספת והצלבת מידע רשותי ונתונים פיתרון להצגת המידע במערכת פנימית לביצוע עבודת המחלקה לגיל הרך. לתושבים אנו מעניקים מקום אחד בו נמצא כל המידע אודות המענים לגיל הרך (One Stop Shop).</p>
        </div>
    </div>
    <div class='cards'>
        <div class='card app'>
            <h2>מפת הטף</h2>
            <div class='content'>
                <div class='infolist'>
                    <h3>ממשק צפייה ארצי לגילאי 0-3</h3>
                    <ul>
                        <li>כל המענים לגיל הרך במקום אחד</li>
                        <li>ממשק ידידותי - למצא בקלות את מה שקרוב אלי ומתאים לי</li>
                        <li>פלטפורמה שמעודדת תקשורת ישירה בין התושבים למסגרות החינוך ולרשות העירונית</li>
                        <li>כולם מרוויחים - הורים, גנים, עירייה</li>
                    </ul>
                    <a class='tafmap btn-xs' href='https://app.tafmap.org.il/rkhobot/' target="_blank">למפת הטף של עיריית רחובות</a>
                </div>
                <div class='mockup layout-desktop'></div>
            </div>
        </div>
        <div class='card interface' id='interface'>
            <h2>ממשק הניהול</h2>
            <div class='content'>
                <div class='infolist'>
                    <h3>לראות את הכל במקום אחד:</h3>
                    <ul>
                        <li>היתוך מידע עירוני</li>
                        <li>עבודה מבוססת נתונים ודשבורדים</li>
                        <li>את סטטוס מסגרות החינוך ברשות</li>
                        <li>לעדכן פרטי מעון</li>
                        <li>לעקוב אחר סטטוס פיקוח והדרכה</li>
                    </ul>
                </div>
                <div class='mockup layout-desktop'></div>
            </div>
        </div>
        <div class='card howto'>
            <h2>אז איך זה נעשה?</h2>
            <div class='content'>
                <div class='infographic'></div>
            </div>
        </div>
        <div class='card challenges' id='challenges'>
            <h2>
                <span>
                    אתגר משותף
                </span>
                <span>
                    =
                </span>
                <span>
                    פתרון משותף
                </span>
            </h2>
            <div class='content'>
                <div class='metrics'>
                    <div class='metric count-munis'>
                        <h3>רשויות מקומיות<br/>בישראל</h3>
                        <span>256</span>
                    </div>
                    <div class='metric count-edu'>
                        <h3>מספר מעונות<br/>מוכרים ע״י משרד החינוך</h3>
                        <span>5,588</span>
                    </div>
                    <div class='metric count-labor'>
                        <h3>מעונות מסובסדים<br/>ע״י משרד העבודה</h3>
                        <span>2,053</span>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class='data'>
        <h2>דאטה זה לא משחק ילדים</h2>
        <p>בפורטל המידע הפתוח של מפת הטף תוכלו להוריד טבלאות נתונים לשימוש חופשי ותקבלו ממשק מפתחים (API). תשתית הנתונים שלנו פתוחה ומתבססת על רשות פורטלי מידע עירוניים של Data city.</p>
        <a class='open-data btn-s' href='#'>בקרוב</a>
    </div>
</div>
<div class='joinus-slide' id='join-us'>
    <div class='joinus'>
        <h2>רשויות מקומיות, הצטרפו אלינו!</h2>
        <p>הצטרפו למפת הטף, עשו שימוש בבסיס הנתונים הארצי ותתחילו לנהל את המידע שלכם בצורה מאורגנת יותר ליצרת ערך עבורכם ועבור התושבים.</p>
        <div class='cta'>
            <div class='contact-form'>
                <iframe class="airtable-embed" src="https://forms.fillout.com/t/pTRWR4WQkdus" frameborder="0" onmousewheel="" width="100%" height="100%" style="background: transparent; border: 1px solid #ccc;"></iframe>
            </div>
            <div class='image layout-desktop'>

            </div>
        </div>
    </div>
</div>
<div class='footer-slide'>
    <div class='footer'>
        <div class='pkw'>
            <p>
                הסדנא לידע ציבורי היא ארגון ללא מטרות רווח, מבוסס מתנדבים, הפועל לקידום שקיפות שלטונית ומעורבות אזרחית באמצעות בניית כלים לפתיחה והנגשה של מידע המצוי ברשותם של מוסדות ציבוריים.
                <br/><br/>
                <a href='https://www.hasadna.org.il/' target='_blank'>קראו עוד &gt;</a>
            </p>
        </div>
        <div class='contact'>
            <h2>צרו קשר</h2>
            <a href='mailto:info@hasadna.org.il' target='_blank'>info&#x40;hasadna.org.il</a>
            <span>© 2025 הסדנא לידע ציבורי</span>
            <a href='https://whiletrue.industries' target="_blank">פיתוח האתר: WhileTrue Industries</a>
        </div>
    </div>
</div>
