.font-sans {
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@color-white: #ffffff;
@color-gray-1: #E8E5E6;
@color-gray-2: #9C999A;
@color-gray-3: #7A7A7A;
@color-gray-4: #4A4A4A;
@color-black: #000000;

@color-night: #053856;

@color-text: #383838;
@color-green-100: #97D6BE;
@color-green-200: #78BC9A;
@color-green-300: #1AA23E;
@color-green-400: #64B883;
@color-d-tara: #B8390F;
@color-medium-orange: #EF703C;
@color-m-tree: #848C43;
@color-l-sun: #FFB812;
@color-l-nude: #E4A28F;
@color-off-white: #F0EBE9;
@color-green-500: #204E37;
@color-green-50: #EAF5E9;
@color-grey-200: #D1CFCF;


@color-fk-education: @color-green-100;
@color-fk-health: @color-l-nude;
@color-fk-community: @color-l-sun;


/* Effect styles */
@button-shadow:  0px 4px 24px rgba(0, 0, 0, 0.25);

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

// Utils
.background-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.button-image {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.no-scrollbars {
    /*FireFox*/
    scrollbar-width: none;
    /*IE10+*/
    -ms-overflow-style: -ms-autohiding-scrollbar;
    &::-webkit-scrollbar {
    /*Chrome, Safari, Edge*/
        display: none;
    }
}

@mobile-threshold: 1000px;

.mobile(@rules) {
    @media only screen and (max-width: (@mobile-threshold - 1px)) {
        @rules();
    }
}

.desktop(@rules) {
    @media only screen and (min-width: @mobile-threshold) {
        @rules();
    }
}

.mobile({
    ::ng-deep .layout-desktop {
        display: none !important;
    }
});

.desktop({
    ::ng-deep .layout-mobile {
        display: none !important;
    }
});

::ng-deep .display-none {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}