@import '../../common.less';

:host {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    height: 66px;
    padding: 12px;
    gap: 10px;

    background: @color-white;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.19);
    position: relative;
    z-index: 1000;

    .container {
        max-width: @mobile-threshold;
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;

        .links {
            flex: 0 1 auto;
            width: fit-content;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-start;
            gap: 8px 64px;
            a {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: @color-white;
                white-space: nowrap;
            }
        }
        
        .logo {
            flex: 0 0 auto;
            width: 36px;
            height: 38px;
            .background-image;
            background-image: url(../../../public/logo-header.svg);
            margin-right: auto;
        }
        
        .menu-button {
            flex: 0 0 auto;
            width: 30px;
            height: 38px;
            .background-image;
            background-image: url(../../../public/icon-menu.svg);
        }
    }

    .menu {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        transform: translateY(-120%);
        transition: transform 0.3s ease-in-out;
        &.active {
            transform: translateY(0);
        }
        background-color: white;
        padding: 64px;
        display: flex;
        flex-flow: column;
        gap: 32px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 0px 20px 20px;
        z-index: 1000;

        a {
            font-weight: 400;
            font-size: 24px;
            line-height: 100%;
            color: @color-night;
            white-space: nowrap;
            width: 100%;
        }

        .close {
            position: absolute;
            top: 14px;
            right: 12px;
            width: 30px;
            height: 38px;
            .background-image;
            background-image: url(../../../public/icon-menu-close.svg);
        }
    }
}