<div class='container'>
    <div class='menu-button' (click)='active = true'></div>
    <div class='sections'>
        <a class='section health' [class.selected]='state.section() === "health"'  [routerLink]='[]' fragment="health">התפתחות הילד</a>
        <a class='section education' [class.selected]='state.section() === "education"'  [routerLink]='[]' fragment="education">מסגרות חינוך</a>
        <a class='section community' [class.selected]='state.section() === "community"'  [routerLink]='[]' fragment="community">פנאי וקהילה</a>
    </div>
    <a class='logo' href='/' target='_blank'></a>    
</div>
<div class='menu' [class.active]='active' (click)='active=false; true'>
    @for (link of api.workspace()?.links || []; track link) {
        @if (link.kind !== 'whatsapp') {
            <a class='external' [href]='link.href' target='_blank'>{{link.title}}</a>
        }
    }
    @for (link of commonLinks || []; track link) {
        <a class='internal' [routerLink]='link.routerLink'>{{link.title}}</a>
    }
    <a class='about' [routerLink]='["/about", "about"]'>אודות</a>
    @for (link of api.workspace()?.links || []; track link) {
        @if (link.kind === 'whatsapp') {
            <a class='whatsapp' [href]='link.href' target='_blank'>{{link.title}}</a>
        }
    }
    <div class='close'></div>
</div>
