@let selected = item();
@if (selected) {
    <div class='title'>
        <h2>{{ selected.resolved.name }}</h2>
        <a class='close' (click)='state.selectedId.set(null)' title='סגירה'></a>
    </div>
    <div class='body'>
        @for (row of rows(); track row.label) {
            <div class='row'>
                <span class='capsule' [class]='"icon-" + row.icon'></span>
                <span class='text'>{{ row.label }}:
                    @if (row.href) {
                        <a [href]='row.href' target='_blank'>{{ row.value }}</a>
                    } @else {
                        {{ row.value }}
                    }
                </span>
            </div>
        }
        <div class='row action'>
            <a class='button icon-share' (click)='shareRecord()' title='שיתוף רשומה'></a>
            <span class='text'>שיתוף רשומה</span>
        </div>
        <div class='row action'>
            <a class='button icon-warning' [href]='contactFormLink()' target='_blank' title='דיווח על טעות'></a>
            <span class='text'>מצאת טעות בנתונים?</span>
        </div>
        @if (selected.user?.photo) {
            <div class='photo'>
                <img [src]='selected.user.photo' alt='תמונת המסגרת' />
            </div>
        }
    </div>
}
